.container { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; margin: 0; padding: 20px; background-color: #f4f7f6; }
.container { max-width: 900px; margin: auto; background: white; padding: 30px; padding-bottom: 15px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); }

.controls, .device-selection { margin-bottom: 15px; padding: 15px; border: 1px solid #bdc3c7; border-radius: 8px; }
.device-selection h3, .controls h3 { margin-top: 0; color: #34495e; }
.container button:not(#btn-open-setting) { padding: 10px 20px; margin: 5px; border: none; border-radius: 5px; cursor: pointer; font-size: 1em; transition: background-color 0.3s; } */

button:hover:not(:disabled) { opacity: 0.9; }
button:disabled { background-color: #ccc; cursor: not-allowed; }

#btn-search { background-color: #3498db; color: white; }
#btn-start { background-color: #2ecc71; color: white; }
#btn-pause-resume { background-color: #f1c40f; color: white; }
#btn-end { background-color: #e74c3c; color: white; }
#btn-export { background-color: #3d2dcb; color: white; }


.scroll-container { margin-bottom:15px; height:65vh; background: #ecf0f1; padding: 20px; border-radius: 8px; overflow-x:auto; aspect-ratio: unset !important; }
.chart-container { height: 80%; aspect-ratio: unset !important;}
.chart {  width: 100% !important; height: 100% !important;}
#rri-scroll-container {
    display: none;
    visibility: hidden;
}

#setting {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50vh;
    height:50vh;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1vh;
}

#setting input[type="number"]{ width:50px; }
#setting div{ text-align: center;}
